body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  color: #e0e0e0;
  overflow: hidden;
}

#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* içerik üstte kalsın */
}

.container {
  text-align: center;
  max-width: 800px;
  padding: 40px;
  border-radius: 12px;
  background: rgba(30, 30, 30, 0.85);
  box-shadow: 0 0 15px rgba(0, 200, 255, 0.2);
}

.title {
  font-size: 3rem;
  color: #00c8ff;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 25px;
  color: #bb86fc;
}

.text {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.footer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #999;
}

.discord-btn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 8px;
  background: #5865F2;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.discord-btn:hover {
  background: #404EED;
}


.discord-widget {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.discord-widget iframe {
  width: 100%;          /* widget kutuya tam otursun */
  max-width: 700px;     /* çok geniş olmasın */
  height: 150px;        /* sabit yükseklik */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(88, 101, 242, 0.5);
}

/* Timer kutusu */
.timer-box {
  margin: 20px auto;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #00ffcc;
  border-radius: 10px;
  color: #fff;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.7);
}

/* Timer başlığı */
.timer-box h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #00ffcc;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Timer yazısı */
#timer {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffcc00;
}
